@model Account

@{
	ViewData["Title"] = "Create Account";
}

<a href="/" class="govuk-back-link">Back</a>

<h1 class="govuk-heading-l">Create Account</h1>

<form asp-action="Create" method="post" class="govuk-form-group">
	<div class="govuk-form-group">
		<label class="govuk-label" asp-for="AccountName">
			Account Name
		</label>
		<input class="govuk-input @((ViewData.ModelState["AccountName"]?.Errors.Count > 0) ? "govuk-input--error" : "")" asp-for="AccountName" />

		@{
			ViewData.ModelState.TryGetValue("AccountName", out ModelStateEntry? accountNameEntry);
		}
		<partial name="_ValidationErrors" model="accountNameEntry" />
	</div>

	<div class="govuk-form-group">
		<label class="govuk-label" asp-for="AccountStatus">
			Account Status
		</label>
		<select class="govuk-select @((ViewData.ModelState["AccountStatus"]?.Errors.Count > 0) ? "govuk-input--error" : "")" asp-for="AccountStatus">
			<option value="">Select a status</option>
			<option value="Active">Active</option>
			<option value="Inactive">Inactive</option>
		</select>

		@{
			ViewData.ModelState.TryGetValue("AccountStatus", out ModelStateEntry? accountStatusEntry);
		}
		<partial name="_ValidationErrors" model="accountStatusEntry" />
	</div>

	<button type="submit" class="govuk-button govuk-button--primary" style="margin-top: 20px;">
		Create
	</button>
</form>
