@model Product

<a href="/" class="govuk-back-link">Back</a>

<h1 class="govuk-heading-l">Edit Product</h1>

<form asp-action="Edit" method="post" class="govuk-form-group">
    <div class="govuk-form-group">
        <label class="govuk-label" asp-for="ProductId">Product ID (Not Editable)</label>
        <input class="govuk-input @((ViewData.ModelState["ProductId"]?.Errors.Count > 0) ? "govuk-input--error" : "")" asp-for="ProductId" readonly />

        @{
            ViewData.ModelState.TryGetValue("ProductId", out ModelStateEntry? productIdEntry);
        }
        <partial name="_ValidationErrors" model="productIdEntry" />
    </div>

    <div class="govuk-form-group">
        <label class="govuk-label" asp-for="ProductName">Product Name</label>
        <input class="govuk-input @((ViewData.ModelState["ProductName"]?.Errors.Count > 0) ? "govuk-input--error" : "")" asp-for="ProductName" />

        @{
            ViewData.ModelState.TryGetValue("ProductName", out ModelStateEntry? productNameEntry);
        }
        <partial name="_ValidationErrors" model="productNameEntry" />
    </div>

    <button type="submit" class="govuk-button govuk-button--primary" style="margin-top: 20px;">
        Save
    </button>
</form>
