@model string[]

@if (Model is not null && Model.Any())
{
    <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="notification-banner-title">
        <div class="govuk-notification-banner__header">
            <h2 class="govuk-notification-banner__title" id="notification-banner-title">Success</h2>
        </div>
        <div class="govuk-notification-banner__content">
            <ul class="govuk-list govuk-list--bullet">
                @foreach (string message in Model)
                {
                    <li>@message</li>
                }
            </ul>
        </div>
    </div>
}
